.homePage-container {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    position: relative;
    box-sizing: border-box;
    color: white;
}

.homePage-section1-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.homePage-section1-info-container {
    display: flex;
    box-sizing: border-box;
    z-index: 1;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background-image: url('../../images/homePage2.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100% - 4rem);
    width: 100%;
    position: relative;
    overflow: hidden;

}

.homePage-section1-info {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.homePage-section1-textArea {
    opacity: 0;
    animation: fadein 1s 0.6s forwards;
    transform: translateY(100px);
}

.homePage-section1-textArea h1 {
    font-weight: 100;
    font-size: 80px;
}

.homePage-section1-textArea h1:last-of-type {
    margin-bottom: 80px;
}

.homePage-section1-textArea p {
    margin: 5px 0;
}

.homePage-section1-slidingImage {
    position: absolute;
    height: 120%;
    width: 120%;
    transform: translateX(-200px);
}

.homePage-section1-header {
    height: 5rem;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
    padding: 0 2rem;

    animation: fadein 1s 0.6s forwards;
    opacity: 0;

}

.homePage-section1-header-left {
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    flex: 1;
    margin: 0 5rem;
    box-sizing: border-box;
    z-index: 999;
    justify-content: space-between;
}

.navbar .navbar-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar .active {
    border-bottom: 3px solid white;
    opacity: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
    padding-bottom: 0.3rem;
}

.navbar a:hover {
    border-bottom: 4px solid white;
}

.navbar .icon {
    display: none;
}

.navbar .icon.cart {
    display: block;
}

.homePage-section1 .icon {
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
}

.navbar-loginSignup {
    display: none;
}

@media (width<940px) {
    .homePage-section1-header {
        position: relative;
        z-index: 999999;
    }

    .navbar .icon {
        display: block;
    }

    .navbar .icon.cart {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        margin: 0;
        height: 40px;
        width: 40px;

    }

    .navbar .navbar-link {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 40px;
        border: 1px solid white;
        width: 200px;
        margin: 0;
        opacity: 0;
        transition: all 0.5s ease;
        background-color: black;
        border-bottom-left-radius: 25px;
    }

    .navbar-link.show {
        transform: translateX(-200px);
        opacity: 1;
    }

    .navbar-link a {
        margin: 0.4rem;
        padding-left: 1rem;
    }

    .homePage-section1-textArea:nth-of-type(2) {
        display: none;
    }

    .navbar-loginSignup {
        display: block;
    }
}

@media (width<560px) {
    .homePage-container {
        height: calc(100vh - 3rem);
        padding: 1rem;
    }

    .homePage-section1-info-container {
        padding: 1rem;
        height: calc(100%);
    }

    .homePage-section1-textArea h1 {
        font-size: 50px;
    }
    .homePage-section1-textAreaa{
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
        transform: translate(0);
    }
}