.home {
    background-image: url('../../images/homePage2.jpg');
    background-position: center;
    background-size: cover;
}

.page1Container {
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    box-sizing: border-box;
    display: flex;
}

.info {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 30vh 5vw;
    z-index: 1;
}

.textArea {
    opacity: 0;
    animation: fadein 1s 1s forwards;
    transform: translateY(100px);
}

@keyframes fadein {
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.info h1 {
    font-weight: 100;
    font-size: 80px;
}

.info h1:last-of-type {
    margin-bottom: 80px;
}

.info p {
    margin: 5px 0;
}

.page1-imageDiv {
    height: 600px;
    width: 600px;
    position: absolute;
    left: 53vw;
    opacity: 0;
    transform: translateX(100px);
    overflow: hidden;
    animation: fadein 1s 1s forwards;
    filter: drop-shadow(0 0 0.75rem black);
}

.page2-img {
    height: 1600px;
    width: 1200px;
    transform: translateX(-200px);
}


.logoComponent {
    margin-top: 47vh;
    margin-left: 10vw;
    z-index: 1;
    opacity: 0;
    transform: translateY(100px);
    animation: fadein 1s 1s forwards;
    cursor: pointer;
}