.footer-container{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Infant';
    position: fixed;
    bottom: 0;
    z-index: 1;
    color: burlywood;
}
.footer-body{
    flex: 1;
    background-color: #232222;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem 0;
}
.footer-body-left{
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.footer-logo-container{
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    height: 180%;
    width: 180%;
}
.footer-body-left p{
    line-height: 1.1rem;
    margin-top: 1.2rem;
}
.footer-body-middle{
    max-width: 30vw;
    position: relative;
    box-sizing: border-box;
}
.footer-body h1{
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.feeds-container{
    position: relative;
    max-height: 100%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:0.8rem;
}

.feeds-container .feeds-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.feeds-img img{
    transition: all 0.5s ease;
}
.feeds-container .feeds-img img:hover{
    transform: scale(1.3);
}

.footer-body-right{
    max-width: 25vw;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.letterhead-container{
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.letterhead-container p span{
    font-size: 1.3rem;
}
.footer-copyRight{  
    height: 4rem;
    background-color: #181717;
    text-align: center;
    line-height: 4rem;
    vertical-align: middle;
    font-weight: 200;
}

@media (min-width:1280px) {
    
}