.navbar-container{
    height: 3rem;
    width: 100vw;
    position: relative;
    background-color: #6cbcd5;
    box-sizing: border-box;
}
.navbar-container a{
    font-family: 'Cormorant Infant';
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}
.links:has(.activeLink) a{
    color: black;
 }
.navbar-logo-container{
    height: 160px;
    width: 160px;
    background-color: #6cbcd5;
    border-radius: 50%;
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    top:-30px;
    left:-10px;
    z-index: 90;
}
.navbar-logo{
    height: 120%;
    width: 120%;
    object-fit: cover;
    position: absolute;
    top:-7%;
    left: -7%;
}
.navbar-links{
    position: absolute;
    top:0;
    left:160px; /* must be same with the width of logo container as we want navbar links container to be right of logo and not overlapping*/
    height: 100%;
    width: calc(100% - 160px);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

.navbar-left-links , .navbar-right-links{
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    box-sizing: border-box;
}
.navbar-menu-links,.navbar-right-links{
    display: flex;
    align-items:center;
    box-sizing: border-box;
}
.navbar-left-links{
    flex: 1;
}
.navbar-right-links{
    width: 200px;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-right: 2rem;
}
.menu-icon{
    display: none;
}
.menu-close{
    display: none;
}
.links{
    width:140px;
    line-height: 2.9rem;
    text-align: center;
    z-index: 1;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}
.navbar-right-links .links{
    width: 60px;
}
.slider{
    position: absolute;
    top: 8px;
    height: calc(100% - 8px);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #DCDCDC;
    z-index: 0;
    transition: all 0.6s ease 0s;
}
.links:nth-child(1):hover~.slider{
    left:0;
    width:140px;
}
.links:nth-child(2):hover~.slider{
    left:140px;
    width:140px;
}
.links:nth-child(3):hover~.slider{
    left:280px;
    width:140px;
}
.links:nth-child(4):hover~.slider{
    left:420px;
    width:140px;
}
.links:nth-child(5):hover~.slider{
    left:560px;
    width:140px;
}

@media (width<=1200px) {
    .slider{
        display: none;
    }
    .links{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .navbar-right-links{
        width: 160px;
    }
    .navbar-left-links{
        order:1;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 50px;
        flex: none;
        position: relative;
        left:0;
    }
    .menu-icon , .menu-close{
        display: block;
        height: 1.4rem;
        width: 1.4rem;
        position: absolute;
        z-index: 999;
    }
    .menu-close{
        display: none;
    }
    .menu-icon.show{
        display: block;
    }
    .menu-icon.close{
        display: none;
    }
    .menu-close.show{
        display: block;
    }
    .menu-close.close{
        display: none;
    }
    
    .navbar-menu-links {
        position: absolute;
        top:-2px;
        left: 50px;
        transform: translateX(200px);
        display: flex;
        flex-direction: column;
        width: 200px;
        padding-top: 50px;
        box-sizing: border-box;
        transition: all 0.4s ease;
        z-index: 900;
        background-color: #6cbcd5;
        border-bottom-left-radius: 25px;


    }
    .navbar-menu-links.show{
        transform: translateX(-200px);
    }
    .navbar-menu-links.close{
        transform: translateX(200px);
    }
    .navbar-menu-links a{
        width: 100%;
        position: relative;
        border: 1px solid black;
        display: flex;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: 0.3rem 2rem 0.3rem 1rem;
        padding-right: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .navbar-menu-links .links:hover a{
        background-color: #DCDCDC;
    }
    .links:has(.activeLink) a{
       background-color:#DCDCDC;
    }

}

@media (width<=640px) {
    .navbar-logo-container{
        display: none;
    }
    .navbar-container{
        width: 100%;
        padding: 0;
        border:1px solid red;
        display: flex;
        justify-content: space-between;
    }
    .navbar-links{
        left:0;
        width:100%;
    }
}