.mainOutlet{
    margin-bottom:60vh;
    z-Index:100;
    position:relative;
    min-height: 100vh;
    overflow:hidden,
}

@media (width<=1200px){
    .mainOutlet{
        margin-bottom: 85vh;
    }
}

@media (width<=980px) {
    .mainOutlet{
        margin-bottom:0;
    }
}