.items-filter-buttons {
    margin: 2rem 0;
    display: flex;
    justify-content: flex-end;
}

.items-filter-buttons button {
    text-transform: uppercase;
    margin: 0 0.5rem;
    border: 0;
    border-bottom: 1px solid black;
    height: 30px;
    width: 100px;
    min-width: 80px;
    background-color: transparent;
    color: black;
}
@media (width<=680px) {
    .items-filter-buttons{
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap:0.5rem;
    }
    .items-filter-buttons button{
        margin: 0;
    }
}

.items-filter-buttons button:first-of-type {
    margin-left: 0;
}

.items-filter-buttons .selected{
    background-color: #63c5da;
    color: white;
}