.items-filter-buttons {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

.items-filter-buttons button {
    font-family: "Cormorant Infant";
    text-transform: uppercase;
    margin: 0 0.5rem;
    border: 0;
    height: 30px;
    width: 100px;
    min-width: 80px;
    background-color: transparent;
    color: black;
    letter-spacing: 2px;
    cursor: pointer;
}
@media (width<=680px) {
    .items-filter-buttons{
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap:0.5rem;
    }
    .items-filter-buttons button{
        margin: 0;
    }
}

.items-filter-buttons button:first-of-type {
    margin-left: 0;
}

.items-filter-buttons .selected{
    background-color: #63c5da;
    color: white;
}


@media (width<400px) {
    .items-filter-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
