.items-page {
    width: 100%;
    /* background-color: #DCDCDC; */
    /* background-color: black; */
    
    padding: 6rem;
    padding-top: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Cormorant Infant';
    position: relative;
}

.items-page h1,.items-page h2{
    font-weight: bold;
}
.item-details-container {
    color: black;
    display: flex;
    height: 600px;
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.item-details-container button[id='close'] {
    position: absolute;
    top: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    background-color: transparent;
    border: none
}

.item-details-container .item-img {
    height: 100%;
    width: 600px;
    box-sizing: border-box;
}

.item-details-container .item-details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.item-data-container {
    display: flex;
    width: 100%;
    height: 110%;
    box-sizing: border-box;
    overflow-y: auto;
}

.item-info-container,
.item-reviews-container {
    padding-top: 1.5rem;
    box-sizing: border-box;
    position: relative;
}

.item-info-container {
    height: 100%;
    padding-right: 1.5rem;
    overflow: auto;
    padding-bottom: 0.8rem;
}

.item-form{
    margin-top: 0.8rem;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}
.item-form h1{
    font-weight: bold;
    margin: 0.6rem 0;
}
button[name="addToCart"] {
    padding: 8px 16px;
    background-color: #6cbcd5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    bottom: 5%;
    right: 5%;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  button[name="addToCart"]:hover {
    background-color: #4f9ec4;
  }
  
  button[name="addToCart"] svg {
    margin-right: 4px;
  }
  
.item-reviews-container>h1 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.item-details h1[name='title'] {
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

.item-details p[name='stock'] {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.item-details p[name='price'] {
    font-size: 1.6rem;
}

.item-details h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.item-details h2+p {
    font-size: 0.95rem;
    line-height: 20px;
    margin-top: 0.5rem;
}

@media (width<=1200px) {
    .item-details-container {
        height: 160vh;
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
    .item-details-container button[id='close'] {
        z-index: 1;
    }
    .item-details-container .item-img {
        height: 400px;
        width: 600px;
        flex-shrink: 0;
    }

    .item-details-container .item-details {
        text-align: center;
        padding: 0;
        margin: 1rem 0 0 0;
        overflow: hidden;
    }
    .item-reviews-container {
        padding-bottom: 5rem;
    }
    .item-info-container{
        padding-left: 1rem;
    }
    .item-form{
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }
}


@media (width<400px) {
    .items-page {
        padding: 1rem;
    }
    .item-details-container {
        overflow: hidden;
    }
    .item-details h1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    button[name="addToCart"] {
        bottom: 0;
        right: 0;
        left:0;
        justify-content: center;
      }
      .item-form{
        padding-bottom: 3rem;
      }
}